html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}

header p {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #555;
}

/*font-family: 'Crimson Text', serif;
