html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.3;
  margin: 0;
}

article {
  font-family: "Crimson Text", serif;
  font-weight: normal;
  padding-left: 1em;
  padding-right: 1em;
  font-size:
}

article h1 {
  font-size: 1.5rem;
  font-family: "Crimson Text", serif;
  font-weight: normal;
  margin-bottom: -16px;
  color: #222;
  font-style: normal;
}

article header {
  font-family: "Crimson Text", serif;
  font-style: italic;
}

article header p {
  padding-top: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999;
  padding-bottom: 1.5rem;
}

article p {
  font-family: "Crimson Text", serif;
  color: #222;
  padding-top: .5rem;
}

article ol {
  padding-left: 1rem;
}

blockquote {
  padding-left: .5em;
  padding-right: .5em;
  color: #555;
  font-size: 1.125rem;
}
